@model IEnumerable<Product>
@{
    ViewData["Title"] = ViewData["GroupName"];
}

<h1>دوره های دسته @ViewData["GroupName"]</h1>
<hr/>

<div class="row justify-content-center">
    @foreach(var item in Model)
    {
        <partial name="_BoxProduct" model="@item"/>
    }
</div>

