
@{
    ViewData["Title"] = "تماس با ما";
}

<h1 style="font-weight:bold">تماس با ما</h1>
<hr/>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما </h4>
                <p class="card-text">09015080448</p>
                <p class="card-text">03142240041</p>
                <p class="card-text">denolearn@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-9 text-center">
        <div class="jumbotron">
            <h1 class="display-3" style="font-weight: bold; color: #007bff"> به آموزشگاه دِنو لرن خوش آمدید </h1>
            <hr class="my-4">
            <p class="lead">میتوانید از طریق راه های ارتباطی با ما در تماس باشید</p>
            <p class="lead">
            </p>
        </div>
    </div>
</div>

